
body {background-color: aliceblue;
  overflow-y: scroll;
    scrollbar-color:'white'; 
    scroll-behavior: 'smooth'; 
  overflow-x: scroll;
    scrollbar-color:'white'; 
    scroll-behavior: 'smooth'}

.top {text-align: center;
  }
.menu {
color:black;
font-size: 17px;
font-family: 'Futura';
margin-bottom: 5px;
margin-left: 20px;
margin-right: 20px;
justify-content: space-between;
display: flex;
}
.menu a{
color:#262626;
text-decoration: none;
}

#menu a:hover{
color:#8FBC8F;
text-decoration: none;
}

.middle {background-color: #8FBC8F;
    text-align: center;
    display: inline-flex;
 }
#bottom {background-color:#f0f8ff;
    text-align: center; }

#pageTitle {margin-top: 10px;
      margin-bottom: 10px;
      font-family: 'baskerville';}

#subTitle { color: #262626;
overflow: hidden;   
white-space: nowrap;   
margin: 0 auto;   
letter-spacing: .2rem;   
margin-bottom: 10px;
margin-top: 10px;
}
#bottomTitle {
font-family: 'baskerville';
text-align: center;
border-bottom: 1px solid black;
}

.gallery{
padding-top: 20px;
padding-bottom: 20px;
display: inline-block
}
.card{
border-radius: 15px;
text-align: center;
width: 300px;
height: 300px;
display: inline-grid;
position: relative;
transition-duration: 0.6s; 

}

.images{
object-fit: contain;
position: absolute;
width: 300px;
height: 300px;
border: 1px, solid white;
border-radius: 15px;
z-index: 0;
}

#storyTitle {
position:absolute;
text-align: center;
inset: 175px 40px 50px 40px;
z-index: 1;
font-family:'Futura';
color: aliceblue;

}

#storyContent{
margin-top: 30%;
margin-left: 10px;
margin-right: 10px;
font-family: 'Futura';
}

#front{
position: absolute;
top:0;
left: 0;
border: 5px, solid white;
border-radius: 15px;
transform-style:preserve-3d;

width: 300px;
position: relative; 
backface-visibility: hidden; 
}

#back{
width: 300px;
top:0;
left: 0;
position: absolute;
backface-visibility: hidden;
border: 5px, solid white;
border-radius: 15px;
transform-style:preserve-3d;

}
.imageHover{
  opacity:0.5
}
.h2Hover{
  display:block
}

.flipped{
transform: rotateY(180deg)
}

.messageForm{
font-family: 'baskerville';
margin-left: 20px;
line-height: 20px;
gap: 10px; 
width: 140px;
display: inline-block; 
justify-content: space-evenly;
position:absolute;
left:0;
bottom:0;
right:0;
}
#songForm{
font-family: 'baskerville';
margin-left: 20px;
line-height: 20px;
text-align: center;
}

#autocomplete{
position: relative;
display: inline-block;

}
#songListOptions{
position: absolute;
border: 1px solid #d4d4d4;
border-bottom: none;
border-top: none;
z-index: 99;
top: 100%;
left: 0;
right: 0;
}

#messages{
margin-left: 10px;
line-height: 20px;
}

input {border: none;
margin-bottom: 20px;
}

.mButton{
font-family: 'baskerville';
background-color: transparent;
border: 1px solid black;
}
.sButton{
font-family: 'baskerville';
background-color: transparent;
border: 1px solid black;
display: inline;
}
#link{
color:#8FBC8F
}
#songList{
margin-left: 10px;
font-family: 'baskerville';
}

