@tailwind base;
@tailwind components;
@tailwind utilities;


body {background-color: aliceblue;
  overflow-y: scroll;
    scrollbar-color:'white'; 
    scroll-behavior: 'smooth'; 
  overflow-x: scroll;
    scrollbar-color:'white'; 
    scroll-behavior: 'smooth'}

.top {text-align: center;
    }
#menu {
  color:black;
  font-size: 14px;
  font-family: 'Futura';
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
  display: flex;
  }
#pageTitle {margin-top: 10px;
    font-family: 'baskerville';
    font-size: 20px;
    letter-spacing: .1rem;
  }

#subTitle { color: #262626;  
margin: 0 auto;   
letter-spacing: .2rem;   
margin-bottom: 20px;
font-family: 'baskerville';
}


.messageForm{
  font-family: 'baskerville';
  margin-left: 20px;
  line-height: 20px;
  gap: 10px; 
  width: 140px;
  display: inline-block; 


  }